
  @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  font-family: "Manrope", serif;
  font-size: 14px;
}

body {
  background: #f7f7f7;
  color: #fff;
  display: grid;
  place-items: center;
}

.swiper {
  padding: 50px 80px;
  width: 100%;
  height: auto;
}

.swiper-slide {
  width: auto !important;
}

.card {
  position: relative;
  .button {
    cursor: pointer;
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 2px;
    right: 2px;
    display: grid;
    place-items: center;
    gap: 1rem;
    color: #000;
    /* background: #ffec02; */
    border: transparent;
    border-radius: 50rem;
    /* box-shadow: 4px 4px 0 #000; */
    transition: all 0.3s ease;
    &:active {
      transform: translateX(2px);
      box-shadow: 0 0 0 #000;
    }
  }
  .inner-curve {
    --r: 35px; /* control the rounded part */
    --s: 50px; /* control the size of the cut */
    width: 275px;
    height: 378px;
    position: relative;
    overflow: hidden;
    background: #fff;
    border-radius: var(--r);
    --_m: / calc(2 * var(--r)) calc(2 * var(--r))
      radial-gradient(#000 70%, #0000 72%) no-repeat;
    mask: right 0 bottom calc(var(--s) + var(--r)) var(--_m),
      right calc(var(--s) + var(--r)) bottom 0 var(--_m),
      radial-gradient(var(--s) at 100% 100%, #0000 99%, #000 101%)
        calc(-1 * var(--r)) calc(-1 * var(--r)) no-repeat,
      conic-gradient(
        from 90deg at calc(100% - var(--s) - 2 * var(--r))
          calc(100% - var(--s) - 2 * var(--r)),
        #0000 25%,
        #fff 0
      );
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.categories-header {
  position: relative;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    color: #eb2415;
  }
  .swiper-controllers {
    width: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    .swiper-pagination {
      position: static;
      font-family: "Manrope", serif;
      color: #333333;
      font-size: 20px;
      font-weight: 700;
      margin: 0;
      .swiper-pagination-total,
      .swiper-pagination-current {
        opacity: 0.5;
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      border: none;
      background: #ededed;
      width: 48px !important;
      height: 48px !important;
      border-radius: 50%;
      position: static;
      padding: 12px;
      margin: 0;
      svg {
        width: 48px !important;
        height: 48px !important;
      }
      &::after {
        display: none;
      }
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
//   .card {
//     .button {
//       width: 48px;
//       height: 48px;
//     }
  
//   .inner-curve {
//     --r: 26px; /* control the rounded part */
//     --s: 36px; /* control the size of the cut */
//     width: 180px;
//     height: 250px;
//   }
//     }
  .swiper {
    padding: 20px 24px;
  }
  .categories-header {
    margin-bottom: 16px;
    h1 {
      color: #eb2415;
      font-size: 16px;
    }
    .swiper-controllers {
      display: none;
    }
  }
}

